@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 9% 93%;
    --foreground: 228 28% 14%;
    --card: 0 0% 100%;
    --card-foreground: 228 28% 14%;
    --border: 228 13% 82%;
    --input: 228 13% 82%;
    --ring: 230 74% 41%;
    --primary: 230 74% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 15% 87%;
    --secondary-foreground: 228 28% 14%;
    --muted: 228 12% 88%;
    --muted-foreground: 228 10% 48%;
    --accent: 228 15% 87%;
    --accent-foreground: 228 28% 14%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
